<!-- <ul class="app-header">
  <li style="padding: 0 50px;">
    <img width="135px" src="https://fanart.tv/api/download.php?type=download&image=35326&section=1" />
  </li>
  <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">Home</a>
  </li>
  <li routerLinkActive="active-link">
    <a [routerLink]="['menu']">Menu</a>
  </li>
  <li routerLinkActive="active-link" class="float-xl-right float-md-right float-sm-right" *ngIf="!isUserAuthenticated">
    <a (click)="openSignupModal()">Sign Up</a>
  </li>
  <li routerLinkActive="active-link" class="float-xl-right float-md-right float-sm-right" *ngIf="!isUserAuthenticated">
    <a (click)="openSigninModal()">Sign In</a>
  </li>
  <li routerLinkActive="active-link" class="float-xl-right float-md-right float-sm-right" *ngIf="isUserAuthenticated">
    <a (click)="onLogout()">Log out</a>
  </li>
  <li routerLinkActive="active-link" class="float-xl-right" *ngIf="isUserAuthenticated">
    <a [routerLink]="['myProfile']">
      <i class="fa fa-user"></i>
    </a>
  </li>
</ul> -->

<div class="container-fluid header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="logo" routerLink="/">MasterChef</a>
      <button class="navbar-toggler hamburger-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/">Home</a>
          </li>

          <li>
            <a class="nav-link" [routerLink]="['menu']">Menu</a>
          </li>
          <li *ngIf="isUserAuthenticated">
            <a class="nav-link" [routerLink]="['myProfile']">
              <i class="fas fa-user-circle"> </i>
            </a>
          </li>
          <li *ngIf="!isUserAuthenticated">
            <a class="nav-link" (click)="openSigninModal()">Sign In</a>
          </li>
          <li *ngIf="!isUserAuthenticated">
            <a class="nav-link" (click)="openSignupModal()">Sign Up</a>
          </li>
          <li *ngIf="isUserAuthenticated">
            <a class="nav-link" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
