body {
  width: 100%;
  height: 100%;
}

.content-primary-button {
  color: #fff;
  background-color: transparent;
  border: 2px solid goldenrod;
  border-radius: 0;
}

.content-primary-button:hover {
  color: #fff;
  background-color: goldenrod;
  border: 2px solid goldenrod;
}

.header {
  position: fixed;
  z-index: 3;
  background: #00000094;
  height: 10%;
  width: 100%;

  nav {
    padding: 0;
    margin: 10px auto;
    .shopping-card-wrapper {
      width: 50%;
      margin: 0 auto;

      .shopping-card {
        position: absolute;
        background: url("../../imgs/shopping-bag.svg");
        background-size: cover;
        width: 30px;
        height: 30px;
        margin: auto;
      }
      .counter {
        width: 25px;
        height: 25px;
        background: goldenrod;
        position: relative;
        top: 15px;
        left: 15px;
        border-radius: 50%;
      }
    }
  }

  .logo {
    font-family: "Pacifico", cursive;
    color: goldenrod;
    font-size: 1.8em;

    @media screen and (min-width: 768px) {
      padding: 0 4em 0 0;
    }
  }
  .hamburger-btn {
    width: 55px;
    height: 40px;
    margin: 0;
  }
  .navbar-nav {
    li {
      width: 100px;
      padding: 0 0.5em;
      border: 2px solid transparent;

      &:hover {
        cursor: pointer;
      }
      
      &.add-border:hover {
        border: 2px solid goldenrod;
        cursor: pointer;
      }
    }
    a {
      color: #fff;
    }
  }
}

.navbar-toggler {
  background: white;
}
