body {
  width: 100%;
  height: 100%;
}

.content-primary-button {
  color: #fff;
  background-color: transparent;
  border: 2px solid goldenrod;
  border-radius: 0;
}

.content-primary-button:hover {
  color: #fff;
  background-color: goldenrod;
  border: 2px solid goldenrod;
}

.page-scroll-header {
  background: black !important;
}
.header {
  position: fixed;
  z-index: 20;
  background: #00000094;
  width: 100%;
  height: 110px;
  .menu-wrapper {
    margin-top: 10px;
  }
  nav {
    padding: 0;
    margin: 10px auto;
    .shopping-cart-wrapper {
      width: 50%;
      margin: 4px 0 auto;

      .shopping-cart {
        position: absolute;
        background: url("../../imgs/shopping-bag.svg");
        background-size: cover;
        width: 40px;
        height: 40px;
        margin: auto;
        margin-top: -2px;
      }
      .counter {
        width: 30px;
        height: 30px;
        background: goldenrod;
        position: relative;
        top: 18px;
        left: 18px;
        border-radius: 50%;
      }
    }
  }

  .logo {
    font-family: "Pacifico", cursive;
    color: goldenrod;
    font-size: 1.8em;

    @media screen and (min-width: 768px) {
      padding: 0 4em 0 0;
    }
  }
  .hamburger-btn {
    width: 55px;
    height: 40px;
    margin: 0;
  }
  .navbar-nav {
    li {
      width: 115px;
      padding: 5px 0.5em;
      border: 2px solid transparent;

      &:hover {
        cursor: pointer;
      }

      &.add-border:hover {
        border: 2px solid goldenrod;
        cursor: pointer;
      }
    }
    a {
      color: #fff;
      font-size: 21px;
      .fa-user-circle {
        font-size: 24px;
      }
    }
  }
}

.navbar-toggler {
  background: white;
}
.profile-img-wrapper {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 3px solid white;
  border-radius: 50%;
  .profile-img {
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
