<div class="container-fluid header" [ngClass]="{'page-scroll-header': isScrolled}">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="logo" routerLink="/">MasterChef</a>
      <button class="navbar-toggler hamburger-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav text-center">
          <li class="nav-item add-border">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="add-border">
            <a class="nav-link" [routerLink]="['menu']">Menu</a>
          </li>
        </ul>
        <ul class="navbar-nav text-center">
          <li *ngIf="isUserAuthenticated">
            <a class="nav-link p-0" style="margin-top:10px;" [routerLink]="['myProfile']">
              <i class="fas fa-user-circle"> </i>
            </a>
          </li>
          <li *ngIf="isUserAuthenticated">
            <a class="nav-link shopping-cart-wrapper" [routerLink]="['orders/shopping-cart']">
              <div class="shopping-cart"></div>
              <div class="counter">
               <span class="count">12</span>
              </div>
            </a>
          </li>
          <li *ngIf="!isUserAuthenticated">
            <a class="nav-link" (click)="openSigninModal()">Sign In</a>
          </li>
          <li *ngIf="!isUserAuthenticated">
            <a class="nav-link" (click)="openSignupModal()">Sign Up</a>
          </li>
          <li *ngIf="isUserAuthenticated">
            <a class="nav-link" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>