// .fa-star-o {
//   color: goldenrod;
//   text-shadow: 0 0 2px goldenrod;
//   -moz-text-shadow: 0 0 2px goldenrod;
//   -webkit-text-shadow: 0 0 2px goldenrod;
// }

.fa-star {
  text-shadow: 0 0 2px goldenrod;
  -moz-text-shadow: 0 0 2px goldenrod;
  -webkit-text-shadow: 0 0 2px goldenrod;
  color: white;
}

