<div class="container">
  <div class="row">
    <div class="col-md-4">
      <span>City:</span>
      <hr class="mt-1 mb-1">
      <div class="city">
        Petrich
      </div>
    </div>
    <div class="col-md-4">
      <span>Street:</span>
      <hr class="mt-1 mb-1">
      <div class="street">
        Georgi Urumov
      </div>
    </div>
    <div class="col-md-4">
      <span>Number:</span>
      <hr class="mt-1 mb-1">
      <div class="number">
        48
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Building type::</span>
      <hr class="mt-1 mb-1">
      <div class="type">
        house
      </div>
    </div>
    <div class="col-md-3">
      <span>Entry:</span>
      <hr class="mt-1 mb-1">
      <div class="entry">
        none
      </div>
    </div>
    <div class="col-md-3">
      <span>Floor:</span>
      <hr class="mt-1 mb-1">
      <div class="floor">
        2
      </div>
    </div>
    <div class="col-md-3">
      <span>Aparment:</span>
      <hr class="mt-1 mb-1">
      <div class="floor">
        801
      </div>
    </div>
  </div>
</div>