<div class="container orders-wrapper">
  <h1 class="text-center pb-4">This are your orders</h1>
  <div class="orders-content">
    <div class="container">
      <h2 class="text-center pt-3">How do you prefer to receive your order?</h2>
      <p class="text-center pb-3">* Get from the restaurant and get a 10% discount from your order</p>
      <div class="row buttons">
        <div class="col-12 col-md-6">
          <div class="home" [ngClass]="{'selected-home': isHomeOptionsShown}" (click)="handleHomeOptions()">
            Home
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="restaurant" [ngClass]="{'selected-restaurant': isRestaurantOptionsShown}" (click)="handleRestaourantOptions()" >
            Restaurant
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row m-auto">
          <div class="col-12">
            <div class="home-options"  *ngIf="isHomeOptionsShown">
              <h4 class="order-type">
                Please choose the appropriate address for the order
              </h4>
              <div class="col-5 m-auto">
                <div class="dropdown home">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    I expect a delivery at home
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Addres 1</a>
                    <a class="dropdown-item" href="#">Addres 2</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-auto">
          <div class="col-12">
            <div class="restaurant-options" *ngIf="isRestaurantOptionsShown">
              <h4 class="order-type">Please select the restaurant from which you would receive your order</h4>
              <div class="col-5 m-auto">
                <div class="dropdown restaurant" >
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Take out order from the restaurant
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">бул. България №49Б</a>
                    <a class="dropdown-item" href="#">бул. Васил Левски №53</a>
                    <a class="dropdown-item" href="#">Бул. Витоша, ул. Верила 3</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>