.orders {
  height: 100%;
  width: 100%;

  h1 {
    position: absolute;
    top: 18%;
    width: 100%;
    text-align: center;
  }

  .intro {
    background: url('https://i.ytimg.com/vi/PfeuBxn3MRI/maxresdefault.jpg');
    background-size: cover;
    height: 260px;
    position: absolute;
    width: 100%;
  }

  .overlay {
    position: absolute;
    height: 260px;
    width: 100%;
    background: #00000094;
  }

  .header-wrapper {
    border-bottom: 2px solid black;
    height: 333px;

    .header {
      padding-top: 282px;

      ul {
        li {
          display: inline-block;
          &:hover {
            i, a{
              color: goldenrod;
            }
          }

          i {
            width: 25%;
          }

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.active-link {
  a,
  i {
    color: goldenrod;
  }
}
