<div class="orders">
  <div class="intro"></div>
  <div class="overlay"></div>
  <h1>Your Orders</h1>
  <div class="header-wrapper">
    <div class="container header">
      <ul class="row text-center m-0 p-0">
        <li class="col-md-4">
          <div>
            <i class="fas fa-shopping-bag"></i>
            <a [routerLink]="['/orders']">Shopping Cart</a>
          </div>
        </li>
        <li class="col-md-4">
          <i class="fas fa-car"></i>
          <a [routerLink]="['/orders/delivery-type']">Delivery Type</a>
        </li>
        <li class="col-md-4">
          <i class="fas fa-check"></i>
          <a [routerLink]="['/orders/confirmation']">Confirmation</a>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
