.orders-wrapper {
  h1,
  h2,
  h3,
  h4,
  p,
  span {
    color: #fff;
  }
  padding-top: 12%;

  .orders-content {
    background-image: url('../../imgs/orders.jpg');
    width: 100%;
    height: 500px;
    border: 2px solid black;

    .buttons {
      margin: auto;

      .home,
      .restaurant {
        width: 70%;
        margin: auto;
        border: 1px solid #ffff;
        color: #fff;
        text-align: center;
        cursor: pointer;
      }
      .selected-home {
        background: #fff;
        color: #000 !important;
      }
    }
    .home-options,
    .restaurant-options {
      height: 150px;
      margin: 15px auto;

      .order-type {
        text-align: center;
        padding: 10px;
      }
    }

    .selected-restaurant {
      background: #fff;
      color: #000 !important;
    }

    .btn-secondary {
      color: #fff;
      background-color: transparent;
      border-color: #ffffff;
      padding: 0;

      &:hover,
      &:active,
      &:focus {
        color: #000 !important;
        background-color: #ffffff !important;
        border-color: #545b62 !important;
        box-shadow: none;
      }
    }

    .show > .btn-secondary.dropdown-toggle:focus {
      box-shadow: none;
    }
  }
}
