<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="front">
            <h2>{{flipCardData.type}}</h2>
            <img src="{{flipCardData.img}}" />
            <div class="overlay"></div>
        </div>
        <div class="back">
            <i class="far fa-hand-point-down"></i>
            <h2>Check our {{flipCardData.type}}</h2>
            <img src="{{flipCardData.img}}" />
            <div class="overlay"></div>
        </div>
    </div>
</div>