.popup-close-button {
    float: right;
    width: auto;
    cursor: pointer;
    background: none;
    border: 0;
    font-size: 1.8rem;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 360px;
  }
  .btn-white{
    color: #fff;
  }

  .btn-black{
    color:#000;
    top: -10px;
    position: absolute;
    left: 456px;
  }

