.popup-close-button {
    float: right;
    width: auto;
    cursor: pointer;
    background: none;
    border: 0;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 360px;
  }