<div class="row dishname ">
  <div class="col-md-3">
    <img src="https://assets.bonappetit.com/photos/57ae12ef53e63daf11a4e1d6/16:9/w_1200,c_limit/BA-best-classic-caeser-salad.jpg" alt="">
  </div>
  <div class="col-md-7">
    <span class="title">Cesar Salad</span>
    <app-favourite></app-favourite>
    <hr>
    <p>Cesar salad....</p>
  </div>
  <div class="col-md-2 price text-center">
    <p>10$</p>
    <app-custom-button-goldenrod buttonText="Remove"></app-custom-button-goldenrod>
  </div>
</div>
