.intro {
  background: #00000078;
  height: 100%;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #00000085;
  }
  img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .content {
    position: relative;
    bottom: 60%;
    z-index: 3;
  }
}
.type-selector-wrapper {
  background: black;

  .type-selector-content {
    ul {
      padding: 25px 0 10px 0;
      margin: 0;

      li {
        display: inline-block;
        width: 150px;
        height: 40px;
        margin: 5px 0;
        border: 1px solid #fff;
        cursor: pointer;

        &:hover,
        &.active {
          background-color: #fff;

          a {
            color: #000;
          }
        }

        a {
          display: inline-block;
          padding: 7px 5px;
          color: #fff;

        }
      }
    }
  }
}
