img {
  width: 100%;
}
.menu-list-wrapper {
  position: fixed;
  top: 452px;
  left: 100px;
}
.header {
  position: fixed;
  z-index: 10;
}
.menu-list {
  position: absolute;
  width: 60%;
  left: 700px;
  top: 450px;
}
.menu-title {
  position: absolute;
  top: 22%;
  left: 36%;
  margin: 0 auto;
  padding: 50px 0;
  width: 400px;
  height: 300px;
}

.menu-title span {
  font-size: 80px;
}

.back-word {
  position: absolute;
  transform: translateY(-50%);
}

.front-word {
  position: absolute;
  top: 33px;
  left: 66px;
}

.grey {
  color: #55575a;
}

.orange {
  color: #934215;
}
