<div class="review-wrapper">
  <div class="container">
    <div class="row m-0 pt-3 pb-3">
      <div class="col-md-2">
        <div class="image-container">
          <img class="img-settings" [src]="review.profile.profileImage" [alt]="review.profile.firstName" />
        </div>
      </div>
      <div class="col-md-9">
        <h2 class="user">{{review.profile.firstName}}</h2>
        <form>
          <div class="review">
            <div>
              {{review.reviewText}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>