<form>
  <div class="row m-auto">
    <div class="col-md-12">
      <h3>Add new item:</h3>
    </div>
  </div>
  <div class="row m-auto">
    <div class="col-md-3">
      <div class="item-img" name="image">
        Add img
      </div>
    </div>
    <div class="col-md-6">
      <div class="title">
        <input type="text" name="title" placeholder="Add title..">
        <div class="description pt-2 pb-2">
          <textarea name="description" placeholder="Add description.."></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="type">
        <div class="type">
          <input name="type" type="text" placeholder="Add type..">
        </div>
        <div class="pt-2 pb-2 price">
          <input name="price" type="text" placeholder="Add price..">
        </div>
        <div class="pb-2 weight">
          <input name="weight" type="text" placeholder="Add weight..">
        </div>
        <app-custom-button-goldenrod  buttonText="Save"></app-custom-button-goldenrod>
      </div>
    </div>
  </div>
</form>
