<div class="menu-detail-wrapper" *ngIf="menuDetail">
  <div class="menu-title-bg">
    <div class="title">
      <div class="container">
        <div class="row">
          <div class="col-md-12 title-wrapper">
            {{menuDetail.title}}
            <app-favourite></app-favourite>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row m-auto">
      <div class="col-md-4 p-0">
        <div class="img-wrapper">
          <img [src]="menuDetail.menuItemImage" alt="{{menuDetail.name}}">
        </div>
      </div>
      <div class="col-md-8">
        <div class="information-wrapper">
          <div class="item-weight">
            {{menuDetail.weight}} grams.
          </div>
          <div class="item-description">
            {{menuDetail.description}}
          </div>
          <div class="item-price">
            {{menuDetail.price}}$
          </div>
          <div class="row">
            <div class="col-12 col-md-5">
              <app-custom-button-goldenrod (click)="addReview()" [buttonText]="isReviewOpen ? 'Close' : 'Add Review' "></app-custom-button-goldenrod>
            </div>
            <div class="col-12 col-md-5">
              <app-custom-button-goldenrod (click)="onOrder()" buttonText="Order"></app-custom-button-goldenrod>
            </div>
            <div class="col-12 col-md-10 review" *ngIf="isReviewOpen" ngForm>
              <h2>Review:</h2>
              <form [formGroup]="reviewForm && reviewForm.getForm()">
                <textarea maxlength="240" formControlName="reviewText" name="reviewText"></textarea>
              </form>
            </div>
            <div class="col-12 col-md-5" *ngIf="isReviewOpen">
              <app-custom-button-goldenrod (click)="submitReview()" buttonText="Submit" [disabled]="!this.reviewForm.isValid()"></app-custom-button-goldenrod>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="menuDetail && menuDetail.reviews && menuDetail.reviews.length > 0">
  <div class="row m-0">
    <app-review style="width:100%;" *ngFor="let review of menuDetail.reviews" [review]="review"></app-review>
  </div>
</div>