<!-- <div class="container menu-item-detail" *ngIf="menuDetail">
    <div class="row wrapper">
      <div class="col-md-5 l-side">
        <img src="{{menuDetail.menuItemImage}}" alt="{{menuDetail.name}}">
      </div>
      <div class="col-md-7 r-side">
        <h3 class="title">{{menuDetail.title | uppercase}}</h3>
        <div class="weight">
          <span>{{menuDetail.weight}}</span>
          <span>grams</span>
        </div>
        <div class="description">
            {{menuDetail.description}}
        </div>
        <div class="price">
          <div class="price">
           {{menuDetail.price}}
          </div>
        </div>
      </div>
    </div>
  </div>
   -->

<div class="menu-detail-wrapper" *ngIf="menuDetail">
  <div class="menu-title-bg">
    <div class="title">
      <div class="container">
        <div class="row">
          <div class="col-md-12 title-wrapper">
            {{menuDetail.title}}
            <app-favourite></app-favourite>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row m-auto">
      <div class="col-md-4 p-0">
        <div class="img-wrapper">
          <img [src]="menuDetail.menuItemImage" alt="{{menuDetail.name}}">
        </div>
      </div>
      <div class="col-md-8">
        <div class="information-wrapper">
          <div class="item-weight">
            {{menuDetail.weight}} grams.
          </div>
          <div class="item-description">
            {{menuDetail.description}}
          </div>
          <div class="item-price">
            {{menuDetail.price}}$
          </div>
          <div class="add-btn">
            <app-custom-button-goldenrod  buttonText="Order"></app-custom-button-goldenrod>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>