<div class="menu-item-card d-inline-block m-2" *ngFor="let menuItem of menu">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div>

        </div>
        <div class="col-6">
          <h3 class="menu-item-name">{{menuItem.title}}</h3>
          <img class="menu-item-img" src="{{menuItem.menuItemImage}}">
          <div class="price">
            <span>10
              <span class="comma">,</span>


              <small>70</small>
              <sub>лв.</sub>
            </span>
          </div>
        </div>
        <div class="col-6">
          <div class="weight">
            <span>{{menuItem.weight}} </span>
            <span>гр.</span>
          </div>
          <div class="desc">
            {{menuItem.description}}
          </div>
          <div class="container menu-item-btns">
            <div class="row">
              <div class="col-md-6">
                <xbutton label="Add"></xbutton>
              </div>
              <div class="col-md-6">
                <xbutton label="Detail"></xbutton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>