<div class="container">
  <div class="wrapper">
    <div class="main-info">
      <div class="row m-0">
        <div class="col-md-4 city">
          <input placeholder="City" />
        </div>
        <div class="col-md-4 district">
          <input placeholder="District" />
        </div>
        <div class="col-md-4">
          <select class="building-type" name="" id="">
            <option value="">House</option>
            <option value="">Building</option>
          </select>
        </div>
      </div>
    </div>
    <div class="additional-info">
      <div class="row m-0">
        <div class="col-md-3">
          <input placeholder="Number">
        </div>
        <div class="col-md-3">
          <input placeholder="Entry">
        </div>
        <div class="col-md-3">
          <input placeholder="Floor">
        </div>
        <div class="col-md-3">
          <input placeholder="Apartment">
        </div>
      </div>
    </div>
    <div class="col-md-6 m-auto">
      <app-custom-button-goldenrod buttonText="Save"></app-custom-button-goldenrod>
    </div>
  </div>
</div>