<div class="row dishname">
  <div class="col-md-3">
    <img src="{{menuItem.menuItemImage}}" alt="{{menuItem.title}}" />
  </div>
  <div class="col-md-7">
    <span class="title">{{menuItem.title}}</span>
    <app-favourite [isFavourite]="menuItem.isFavourite" (click)='toggleFavourite()'></app-favourite>
    <hr />
    <p>{{menuItem.description}}</p>
  </div>
  <div class="col-md-2 price text-center">
    <p>{{menuItem.price}}$</p>
    <app-custom-button-goldenrod buttonText="Order"></app-custom-button-goldenrod>
    <app-custom-button-goldenrod [id]="menuItem.id" buttonText="Details"></app-custom-button-goldenrod>
  </div>
</div>