<div class="container menu-list-item">
  <div class="row align-items-center">

    <div class="l-side img-hold col-4">
      <div class="overlay">
        <img src="https://cdn1.iconfinder.com/data/icons/bistro-restaurant-part-i/64/bistro-and-restaurant_17-512.png">
      </div>
    </div>

    <div class="r-side col-7 ">
      <div class="overlay">
        <span class="title">Salad</span>
        <img class="right-arrow " src="https://di-uploads-pod2.dealerinspire.com/grapponefordredesign/uploads/2015/02/white-right-arrow.png">
      </div>
    </div>

 

</div>
</div>