<div class="row dishname "  *ngFor="let menuItem of menu">
  <div class="col-md-3">
    <img src="{{menuItem.menuItemImage}}" alt="">
  </div>
  <div class="col-md-7">
    <span>{{menuItem.title}}</span>
    <app-favourite></app-favourite>
    <hr>
    <p>{{menuItem.description}}</p>
  </div>
  <div class="col-md-2 price text-center">
    <p>{{menuItem.price}}$</p>
    <a class="btn btn-primary content-primary-button" href="#" role="button">Order</a>
    <a class="btn btn-primary content-primary-button" href="#" role="button">Details</a>
  </div>
</div>