<form (ngSubmit)="onSubmitProfileInfo()" ngForm *ngIf="userData">
  <fieldset [formGroup]="profileForm && profileForm.getForm()">
    <div class="row m-0 personal-information">
      <div class="col-md-4">
        <div class="profile-image-wrapper">
          <div class="profile-image-container text-center">
            <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-group-256.png" alt="">
          </div>
          <div class="actions">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row m-0">
            <div class="col-12">
                <h2 class="pass-settings-title">Profile Information:</h2>
              </div>
          <div class="col-12 col-md-6 mt-1 mb-1">
            <input class="name fname"
                   id="firstName" 
                   style="margin-right: 1%;" 
                   type="text" 
                   name="firstName" 
                   formControlName="firstName"  
                   [value]="userData.firstName" 
                   placeholder="Enter first name">
          </div>
          <div class="col-12 col-md-6 mt-1 mb-1">
            <input 
                  class="name" 
                  id="lastName" 
                  type="text" 
                  name="lastName" 
                  formControlName="lastName"  
                  [value]="userData.lastName" 
                  placeholder="Enter last name">
          </div>
          <div class="col-12 mt-1 mb-1">
            <input 
                  id="email"
                  type="text" 
                  name="email"
                  formControlName="email"  [value]="userData.email"
                  placeholder="Enter email">
          </div>
          <div class="col-12">
            <app-custom-button-goldenrod buttonText="Save"></app-custom-button-goldenrod>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<form (ngSubmit)="onSubmitPasswordInfo()" ngForm> 
  <fieldset [formGroup]="profilePasswordChangeForm && profilePasswordChangeForm.getForm()">
    <div class="row m-0 personal-information">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="row m-0">
          <div class="col-12">
            <h2 class="pass-settings-title">Change Password:</h2>
          </div>
          <div class="col-12 mt-1 mb-1">
            <input
                  id="currentPassword" 
                  type="text"
                  name="currentPassword" 
                  formControlName="currentPassword" 
                  [value]="userPassData.currentPassword" 
                  placeholder="Enter current password">
          </div>
          <div class="col-12 col-md-6  mt-1 mb-1">
            <input  
                  type="text" 
                  id="newPassword" 
                  name="newPassword" 
                  formControlName="newPassword"  
                  [value]="userPassData.newPassword" 
                  placeholder="Enter new password">
          </div>
          <div class="col-12 col-md-6  mt-1 mb-1">
            <input 
                  type="text"
                  id="repPassword" 
                  name="repPassword" 
                  formControlName="repPassword"  
                  [value]="userPassData.repPassword"  
                  placeholder="Repeat password">
          </div>
          <div class="error-wrapper">
              <div *ngIf="errorMessage" class="error">
                  {{errorMessage}}
              </div>
          </div>
          <div class="col-12">
              <app-custom-button-goldenrod buttonText="Save"></app-custom-button-goldenrod>
            </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
    