.background {
  width: 100%;
  height: 100%;
  background-image: url('https://www.mrpizza.bg/img/about-bg.jpg');
}
.heading {
  padding-top: 100px;
  color: white;
  text-align: center;
  font-size: 48px;
  font-family: pacifico;
  padding: 136px 0 40px 0;
}
