<div class="profile">
  <div class="intro"></div>
  <div class="overlay"></div>
  <h1>Ptofile Information</h1>
  <div class="header-wrapper">
    <div class="container header">
      <ul class="row text-center m-0 p-0">
        <li class="col-md-4"  routerLinkActive="active-link">
          <i class="fas fa-user-alt"></i>
          <a [routerLink]="['personalInformation']">Personal Information</a>
        </li>
        <li class="col-md-4"  routerLinkActive="active-link">
          <i class="fa fa-map-marker"></i>
          <a [routerLink]="['addresses']">Addresses</a>
        </li>
        <li class="col-md-4"  routerLinkActive="active-link">
          <i class="fas fa-star"></i>
          <a [routerLink]="['favourites']">Favourites</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container content">
    <router-outlet></router-outlet>
  </div>
</div>
