@import './primeTheme';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}

input {
  width: 100%;
  height: 30px;
}

button {
  width: 100%;
  height: 30px;
  margin: 5px 0;
}
.btn-primary.focus, .btn-primary:focus, {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: none;
  background-color: goldenrod;
  border-color: goldenrod;
}
button, textarea, input:focus,
button, textarea, input:active  {
  outline: none
}

.error {
  color: #900606;
}
.error-wrapper {
  height: 20px;
}

.ui-inputtext {
  padding-left: 5px;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.row {
  width: 100%;
}

a {
  color: #000;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: goldenrod !important;
  width: 100%;
  padding: 0;
  margin: 0!important;
}
