.carousel-img {
  margin: auto;
  width: 100%;
  height: 100%;
}

.carousel-inner h1 {
  top: 240px;
  position: absolute;
  left: 20%;
  color: white;
  font-size: 40px;
  width: 70%;
}
.carousel-indicators {
  bottom: 40px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 20%;
  height: 20%;
}
.menu-wrapper {
  max-height: 640px;
  background: #171a20;
  background-image: url("../../assets/imgs/pattern.png");
  font-size: 1vw;
}

.grey {
  color: #55575a;
}

.orange {
  color: #934215;
}
.menu-wrapper h1 {
  font-size: 5.5em;
}

.menu-title {
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
  width: 400px;
  height: 300px;
}

.menu-title span {
  font-size: 80px;
}

.back-word {
  position: absolute;
    top: 50%;
    left: 25%;
  transform: translateY(-50%);
}

.front-word {
  position: absolute;
    top: 45%;
    left: 45%;
}

.menu-items-url {
  width: 20em;
  height: 20em;
  background: white;
  border-radius: 50%;
}
